dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Packages

# Components
packages/components/dist/
packages/components/www/
packages/components/loader/
packages/components/hydrate/
packages/components/src/components.d.ts

# React
packages/react/src/
packages/react/dist/

# Website
packages/website/.docusaurus/
packages/website/build/
