.header {
  max-width: var(--max-site-width, 90rem);
  margin: auto;
  padding: var(--spacing-250, 1.25rem);
}

@media (min-width: 768px) {
  .header {
    padding: var(--spacing-1000, 5rem);
  }
}

.subtitle {
  color: var(--tokens-text-on-light-heavy, #191B1E);
}

.title {
  color: var(--tokens-text-on-light-heavy, #191B1E);
  text-align: center;
}

.title-highline {
  color: var(--tokens-text-on-light-focused, #0A5BF8);
  display: contents;
}

.description {
  color: var(--tokens-text-on-light-default, #4B515A);
  max-width: 48.75rem;
}

.img {
  position: relative;
  z-index: 1;
}