/* ====================== */
/* Secondary Button Styles */
/* ====================== */

/* Filled */
:host(.glu-button--secondary.glu-button--appearance-filled) {
  background-color: var(--tokens-secondary-deep);
  color: var(--root-base-white);
  border-color: var(--tokens-secondary-deep);
}

:host(.glu-button--secondary.glu-button--appearance-filled:hover) {
  background-color: var(--tokens-secondary-vivid);
  border-color: var(--tokens-secondary-vivid);
}

:host(.glu-button--secondary.glu-button--appearance-filled:focus) {
  background-color: var(--tokens-secondary-heavy);
  border-color: var(--tokens-secondary-heavy);
}

:host(.glu-button--secondary.glu-button--appearance-filled.glu-button--disabled) {
  background-color: var(--tokens-secondary-soft);
  color: var(--tokens-secondary-default);
  border-color: var(--tokens-secondary-soft);
}

/* Outline */
:host(.glu-button--secondary.glu-button--appearance-outline) {
  background-color: transparent;
  color: var(--tokens-secondary-deep);
  border-color: var(--tokens-secondary-deep);
}

:host(.glu-button--secondary.glu-button--appearance-outline:hover) {
  color: var(--tokens-secondary-vivid);
  border-color: var(--tokens-secondary-vivid);
}

:host(.glu-button--secondary.glu-button--appearance-outline:focus) {
  color: var(--tokens-secondary-heavy);
  border-color: var(--tokens-secondary-heavy);
}

:host(.glu-button--secondary.glu-button--appearance-outline.glu-button--disabled) {
  color: var(--tokens-secondary-default);
  border-color: var(--tokens-secondary-default);
}

/* Ghost */
:host(.glu-button--secondary.glu-button--appearance-ghost) {
  background-color: transparent;
  color: var(--tokens-secondary-deep);
  border-color: transparent;
}

:host(.glu-button--secondary.glu-button--appearance-ghost:hover) {
  color: var(--tokens-secondary-vivid);
}

:host(.glu-button--secondary.glu-button--appearance-ghost:focus) {
  color: var(--tokens-secondary-heavy);
}

:host(.glu-button--secondary.glu-button--appearance-ghost.glu-button--disabled) {
  color: var(--tokens-secondary-default);
}
