:host {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--tokens-text-on-light-subdue, #7d8796);

  font-family: var(--body-large-medium-font-family, Inter);
  font-size: var(--body-large-medium-font-size, 1.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body-large-medium-line-height, 1.5rem);
  letter-spacing: var(--body-large-medium-letter-spacing, 0rem);
}

:host(:last-child) .separator {
  display: none;
}

:host(:nth-last-child(2)) .separator,
:host(:last-child) {
  color: var(--tokens-text-on-light-heavy, #191b1e);
}

.separator {
  gap: 0.75rem;
  color: var(--tokens-text-on-light-subdue, #7d8796);
}

a {
  all: unset;
}

a.clickable {
  cursor: pointer;
}
