:host(a) {
  all: unset;  /* Reset all button default styles */
  display: flex;
  width: 100%;
  text-align: center;
  gap: var(--spacing-050);
  color: var(--tokens-primary-default);
  font-size: var(--body-medium-medium-font-size);
  font-weight: var(--body-medium-medium-font-weight);
  line-height: var(--body-medium-medium-line-height);
  font-family: var(--body-medium-medium-font-family);
  border: none;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

:host(a:hover) {
  color: var(--tokens-primary-vivid);
}

:host(a:focus) {
  color: var(--tokens-primary-heavy);
}

:host(a:active) {
  color: var(--tokens-primary-subdue);
}

:host(.glu-link--size-large) {
  font-size: var(--body-large-medium-font-size);
  font-weight: var(--body-large-medium-font-weight);
  line-height: var(--body-large-medium-line-height);
  font-family: var(--body-large-medium-font-family);
}

:host(.glu-link--size-medium) {
  font-size: var(--body-medium-medium-font-size);
  font-weight: var(--body-medium-medium-font-weight);
  line-height: var(--body-medium-medium-line-height);
  font-family: var(--body-medium-medium-font-family);
}

:host(.glu-link--size-small) {
  font-size: var(--body-xsmall-medium-font-size);
  font-weight: var(--body-xsmall-medium-font-weight);
  line-height: var(--body-xsmall-medium-line-height);
  font-family: var(--body-xsmall-medium-font-family);
}
