/* ====================== */
/* Input Styles     */
/* ====================== */

:host(.glu-input) {
  gap: var(--Spacing-100, 0.5rem);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper {
  border-radius: var(--Border-Radius-100, 0.5rem);
  border: 1px solid var(--Tokens-Input-Stroke-Default, #CBD1D9);
  background: var(--Tokens-Input-Background-Default, #FFF);
  color: var(--tokens-input-content-default);
  transition: border-color 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: row;
  padding: var(--Spacing-150, 0.75rem) var(--Spacing-200, 1rem);
  align-items: center;
  align-self: stretch;
  gap: var(--Spacing-100, 0.5rem);
  flex-shrink: 0;

  color: var(--Tokens-Text-On-Light-Default, #4B515A);

  font-family: var(--Body-Small-Regular-fontFamily, Inter);
  font-size: var(--Body-Small-Regular-fontSize, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-Small-Regular-lineHeight, 1.125rem); /* 128.571% */
  letter-spacing: var(--Body-Small-Regular-letterSpacing, 0rem);

  cursor: text
}

input {
  all: unset;
  width: 100%;
}

input::placeholder {
  color: var(--tokens-input-content-subdue);
}

.prefix-text, .prefix-icon, .suffix-text, .suffix-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--Tokens-Text-On-Light-Subdue, #7D8796);

  font-family: var(--Body-Small-Regular-fontFamily, Inter);
  font-size: var(--Body-Small-Regular-fontSize, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-Small-Regular-lineHeight, 1.125rem); /* 128.571% */
  letter-spacing: var(--Body-Small-Regular-letterSpacing, 0rem);
}

:host(.focused) .input-wrapper {
  background-color: var(--tokens-input-background-focus);
  border-color: var(--tokens-input-stroke-focus);
  outline: none;
  box-shadow: 0 0 0 2px var(--tokens-input-stroke-focus);
}

:host(.disabled) .input-wrapper {
  border-radius: var(--Border-Radius-100, 0.5rem);
  border: 1px solid var(--Tokens-Input-Stroke-Disabled, #DCE0E6);
  background: var(--Tokens-Input-Background-Disabled, #F4F5F6);
  cursor: not-allowed;
}

:host(.is-error) .input-wrapper {
  border-color: var(--tokens-input-stroke-error);
  color: var(--tokens-input-content-error);
  background-color: var(--tokens-input-background-error);
  .prefix-text, .prefix-icon, .suffix-text, .suffix-icon {
    color: var(--tokens-input-content-error);
  }
}

:host(.is-error.focused) .input-wrapper {
  box-shadow: 0 0 0 2px var(--tokens-input-stroke-error);
  .prefix-text, .prefix-icon, .suffix-text, .suffix-icon {
    color: var(--tokens-input-stroke-error);
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-ms-calendar-picker-indicator {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.cursor-pointer {
  cursor: pointer;
}
