:host {
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  gap: var(--Spacing-100, 0.5rem);
  display: flex;
  flex-direction: column;
}

/* Wrapper that aligns the checkbox and labels */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: var(--Spacing-150, 0.75rem);
}

/* Disabled state */
:host(.is-disabled) .checkbox-wrapper {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Left and right labels */
.left-label,
.right-label {
  flex-shrink: 0;
}

.checkbox-container {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--Border-Radius-050, 0.25rem);
  border: 1px solid var(--Tokens-Stroke-On-Light-Heavy, #CBD1D9);
  background: var(--Tokens-Background-Base-Surface-1, #FFF);
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Error state styling */
:host(.is-error) .checkbox-container {
  border-color: var(--tokens-status-error-default);
}

/* Focus state styling */
:host(.is-focused) .checkbox-container {
  border-color: var(--tokens-primary-default);
}

/* When the checkbox is checked or indeterminate */
:host(.is-checked) .checkbox-container,
:host(.is-indeterminate) .checkbox-container {
  background-color: var(--tokens-primary-default);
  border-color: var(--tokens-primary-default);
  color: var(--root-base-white);
}

:host(.is-focused.is-error) .checkbox-container {
  border-color: var(--tokens-status-error-default);
}

/* When the checkbox is checked or indeterminate */
:host(.is-checked.is-error) .checkbox-container,
:host(.is-indeterminate.is-error) .checkbox-container {
  border-color: var(--tokens-status-error-default);
  background: var(--tokens-status-error-default, #DA4747);
  color: var(--root-base-white);
}

/* Disabled state for the checkbox container */
:host(.is-disabled) .checkbox-container {
  border-radius: var(--Border-Radius-050, 0.25rem);
  border: 1px solid var(--Tokens-Stroke-On-Light-Heavy, #CBD1D9);
  background: var(--Tokens-Background-Base-Surface-2, #F4F5F6);
  color: var(--tokens-input-content-disabled, #DCE0E6);
}

/* The inner box that holds the icon */
.checkbox-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Ensure the icon (check or minus) appears in white */
.checkbox-container glu-icon {
  fill: var(--root-base-white);
}
