:host {
  display: grid;
  width: 100%;
  box-sizing: border-box;

  /**
   * Grid container styling for glu-grid component.
   *
   * @prop --grid-template-columns - Specifies the grid's column layout.
   *           Default: `repeat(3, 1fr)`.
   **/
   grid-template-columns: var(--grid-template-columns, repeat(3, 1fr));
   /**
   * @prop --grid-gap - Specifies the gap between grid items.
   */
  gap: var(--grid-gap, 0);
}