:host {
  display: flex;
  width: 100%;
  box-sizing: border-box;

  flex-direction: var(--flex-direction, row);
  align-items: var(--flex-align, center);
  justify-content: var(--flex-justify, flex-start);
  gap: var(--flex-gap, 0);
}