/* ====================== */
/* Default Icon Styles    */
/* ====================== */
:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
}
