/* Filled */
:host(.glu-button--destructive.glu-button--appearance-filled) {
  background-color: var(--tokens-destructive-default);
  color: var(--root-base-white);
  border-color: var(--tokens-destructive-default);
}

:host(.glu-button--destructive.glu-button--appearance-filled:hover) {
  background-color: var(--tokens-destructive-vivid);
  border-color: var(--tokens-destructive-vivid);
}

:host(.glu-button--destructive.glu-button--appearance-filled:focus) {
  background-color: var(--tokens-destructive-vivid);
  border-color: var(--tokens-destructive-vivid);
}

:host(.glu-button--destructive.glu-button--appearance-filled:active) {
  background-color: var(--tokens-destructive-heavy);
  border-color: var(--tokens-destructive-heavy);
}

:host(.glu-button--destructive.glu-button--appearance-filled.glu-button--disabled) {
  background-color: var(--tokens-destructive-soft);
  color: var(--tokens-destructive-subdue);
  border-color: var(--tokens-destructive-soft);
}

/* Outline */
:host(.glu-button--destructive.glu-button--appearance-outline) {
  background-color: transparent;
  color: var(--tokens-destructive-default);
  border-color: var(--tokens-destructive-default);
}

:host(.glu-button--destructive.glu-button--appearance-outline:hover) {
  color: var(--tokens-destructive-vivid);
  border-color: var(--tokens-destructive-vivid);
}

:host(.glu-button--destructive.glu-button--appearance-outline:focus) {
  color: var(--tokens-destructive-vivid);
  border-color: var(--tokens-destructive-vivid);
}

:host(.glu-button--destructive.glu-button--appearance-outline:active) {
  color: var(--tokens-destructive-default);
  border-color: var(--tokens-destructive-default);
  background-color: var(--tokens-destructive-soft);
}

:host(.glu-button--destructive.glu-button--appearance-outline.glu-button--disabled) {
  color: var(--tokens-destructive-muted);
  border-color: var(--tokens-destructive-muted);
}

/* Ghost */
:host(.glu-button--destructive.glu-button--appearance-ghost) {
  background-color: transparent;
  color: var(--tokens-destructive-default);
  border-color: transparent;
}

:host(.glu-button--destructive.glu-button--appearance-ghost:hover) {
  color: var(--tokens-destructive-vivid);
}

:host(.glu-button--destructive.glu-button--appearance-ghost:focus) {
  color: var(--tokens-destructive-vivid);
}

:host(.glu-button--destructive.glu-button--appearance-ghost:hover) {
  color: var(--tokens-destructive-heavy);
}

:host(.glu-button--destructive.glu-button--appearance-ghost.glu-button--disabled) {
  color: var(--tokens-destructive-subdue);
}
